body {
    background-color: #000000;
    color: #CCCCCC;
}

.Greeting {
	text-align: center;
}

.Scoreboard {
	text-align: left;
}

#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}