body {
	background-color: #000000;
	color: #FFFFFF;
}

.Scoreboard  {
	font-size: 16px;
}

#start-game, #help-button {
	color: #000000;
}

.help {
	position: absolute;
	top: 5%;
	right: 5%;
}

#start-game {
	position: absolute;
	top:5%;
	left:5%;
}

#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}