body {
	background-color: #000000;
	color: #FFFFFF;
}

.Greeting {
	text-align: center;
}

.Scoreboard  {
	font-size: 20;
}

#start-game {
	color: #000000;
}

#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}